# Core
pandas
numpy
requests
beautifulsoup4
sqlalchemy
pymysql
mysql-connector-python
python-dotenv
streamlit
plotly
wordcloud
matplotlib
tqdm

# NLP / Transformers
torch
transformers
huggingface_hub
safetensors
underthesea

# Others
vnstock